/*css file*/
body.a {
    background-color: darkblue;
}
table {
    border-spacing: 50px 20px;
    margin-left: auto; 
    margin-right: auto;
    background-color: white;
    margin-top: -10px;
    margin-bottom: -10px;
}
th {
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 25px;
    background-color:whitesmoke;
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 2px gray;
}
h3.a {
    text-align: center;
}
.blank {
    border: none;
    background-color: white;
    width: 0px;
} 
.frame {
    height: 900px; 
    width: 385px; 
    border: none;
}
.pic {
    width: 200px;
}
img {
    height: 190px;
    width: 190px;
}